ol,
ul {
  padding-left: 30px;
}

.game {
  display: flex;
  flex-direction: row;
  background-color: #282c34;
  color: white;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.game-info {
  margin-left: 25px;
}
